name: Deploy React App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'
          
      - name: Install Dependencies
        run: npm ci
        
      - name: Update API URL for production
        run: |
          sed -i 's|http://localhost:3002/api/v1|http://135.181.33.13:3002/api/v1|g' src/Api.js
        
      - name: Build React App
        run: npm run build
        
      - name: Deploy to Production
        uses: appleboy/scp-action@master
        with:
          host: '5.75.185.137'
          username: 'uswege'
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "build/*"
          target: "/var/www/html/admin"
          strip_components: 1
          
      - name: Execute remote commands
        uses: appleboy/ssh-action@master
        with:
          host: '5.75.185.137'
          username: 'uswege'
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo systemctl restart nginx